<li>
	<span class="name"><%= dog.name %>
	<% if current_user?(dog.user) %>
		<%= link_to "delete", dog, method: :delete, data: { confirm: "You sure?" }, title: dog.name %>
	<% end %>
	</span>
	<span class="walktimes">
		<% if dog.walktimes.any? %>
			<ol class="walktimes">
				<%= render dog.walktimes %>
			</ol>
		<% end %>
	</span>
</li>