<% provide(:title, 'Edit dog') %>
<h1>Update your dog</h1>

<div class="row">
	<div class="span6 offset3">
		<%= render 'shared/dog_form', button: "Save changes" %>
	</div>
</div>
<div class="row">	
	<div class="span6 offset3">
		<span class="walktimes">
			<% if @dog.walktimes.any? %>
				Walk times:
				<ol class="walktimes">
					<%= render @dog.walktimes, edit_page: true %>
				</ol>
			<% end %>
		</span>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
		<%= render 'shared/walktime_form', dog: @dog, walktime: Walktime.new %>
	</div>
</div>