<% provide(:title, 'All dogs') %>
<h1>All dogs</h1>

<%= will_paginate %>

<div id="map_canvas"></div>

<ul class="dogs">
	<%= render @dogs %>
</ul>

<%= will_paginate %>

<script type="text/javascript">
	var dog_locations = <%= raw @dogs.to_json(:methods => :address) %>
</script>