<div class="center hero-unit">
		<h1>Welcome to<br> the Dogwalker App</h1>

		<h2>
			This is the home page for an appllication<br> to help people find other people to help walk their dog.
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>